<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
</head>

<body>
<%- include('../header') -%>

  <div class="col-md-8 col-md-offset-2">
    <div>
      <h3>Problems Available</h3>
    </div>
    <div id="problem-div">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 id="course" class="panel-title">Panel title</h3>
        </div>
        <% for(var i=0; i < data.length; i++) { %>
          <div id="problem-content" class="panel-body">
            <div id="topic"><%= data[i].topic %></div>
            <div class="col-md-9">
              <div id="template"><pre><%= data[i].template %></pre></div>
            </div>
            <div class="col-md-3">
              <a href="/problem/edit?problem_id=<%= data[i]._id%>" class="btn btn-warning" role="button">Edit</a>
              <button  id="problem-delete" class="btn btn-danger problem-delete" data-problem-id="<%= data[i]._id%>" role="button">Delete</button>
              <a href="/problem/generate?problem_id=<%= data[i]._id%>" class="btn btn-success" role="button">Generate</a>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</body>

</html>

